@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.material-symbols-outlined {
  user-select: none;
  -webkit-user-select: none;
}
body {
  background-color: #002233;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.7%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container #video_player {
  position: relative;
  width: 700px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.24);
}
.container #video_player #main-video {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}
.container #video_player .controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgb(0 0 0 / 71%);
  box-shadow: 0 0 5px rgba(0 0 0/ 24%);

  z-index: 4;
  transform: translateY(0);
}
